DATABASE_URL="postgresql://postgres.imccvtocxfngosgitnum:Enockbusiness2026#*@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres:Enockbusiness2026#*@db.imccvtocxfngosgitnum.supabase.co:5432/postgres"
SUPABASE_URL=https://imccvtocxfngosgitnum.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImltY2N2dG9jeGZuZ29zZ2l0bnVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5ODk5MzIsImV4cCI6MjA5NzU2NTkzMn0.FKeFX8k6eeuR5hVsX2X6yLqRxnl2cNdkA5DtaUvTjn8
JWT_SECRET=SZggzeFzdNiJ1f+s2sVNRkVLzqMsmZsMziUWaDku1wYrqWdnPSj4YY/z/lnFpkENFUwF2RcX0U+rO80x1zjMsQ==
ADMIN_ACCESS_CODE=2026
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@sweetpuppies.be
SMTP_PASS=xxx
FROM_NAME=Sweet Puppies
FROM_EMAIL=info@sweetpuppies.be
APP_URL=https://sweetpuppies.vercel.app
